build/
.idea/
node_modules/
.DS_Store
installed_contracts/
coverage*
dist
keeper_contracts.egg-info
venv
ganache-cli.log
target/
.python-version
artifacts/*.development.json
.eggs/
zos.dev-*
.zos.session
.zos.lock
zos.json
wallets.json
mythrilReport.md
securifyReport.txt
KeeperContracts.png
slitherReport.txt
